
/* For the header to move down */
@media (min-width: 980px) {
    body {padding-top: 60px;}
}

.container .member-payments-table {
    width: 450px;
}

.join-now-button-row {
    margin-bottom: 3em;
}
