{% extends "club/base.html" %}
{% load i18n %}

{% block content %}
<p class="lead">
{% blocktrans with name=club.name %}On this page you can join {{ name }}. You can also browse our existing members, and manage your membership.{% endblocktrans %}
</p>

<div class="row join-now-button-row">
    <div class="btn-group span12">
        <a class="btn btn-large btn-primary" href="{% url "club-register" %}">{% blocktrans with name=club.name %}Join {{ name }} now!{% endblocktrans %}</a>
    </div>
</div>

<div class="row">
    <div class="btn-group span12">
        <a class="btn" href="#">{% trans "More information" %}</a>
        <a class="btn" href="{% url "club-members" %}">{% trans "Browse members" %}</a>
    </div>
</div>
{% endblock %}
