{% extends "club/base.html" %}
{% load i18n %}

{% block content %}
<h1>{{ member.get_name }}</h1>

{% if is_club_admin %}
<a class="btn" href="{% url "club-member-edit" member.id %}">{% trans "Edit this member" %}</a>
{% endif %}

<dl>
    <dt>{% trans "Club region" %}</dt>
    <dd>{{ member.club_region }}</dd>

    <dt>{% trans "Joined" %}</dt>
    <dd>{{ member.joined }}</dd>

    <dt>{% trans "Active" %}</dt>
    <dd>
        {% if member.active %}
            {% trans "Yes" %}
        {% else %}
            {% trans "No" %}
        {% endif %}
    </dd>

    <dt>{% trans "PDGA Number" %}</dt>
    <dd>
        {% if member.pdga_number %}
            <a href="{{ member.get_pdga_link }}">
                {{ member.pdga_number }}
            </a>
        {% else %}
            <span class="muted">N/A</span>
        {% endif %}
    </dd>

    {% if is_club_admin %}

    {% if member.added_by %}
    <dt>{% trans "Added by" %}</dt>
    <dd>{{ member.added_by.username }}</dd>
    {% endif %}

    {% if member.phonenumber %}
    <dt>{% trans "Phonenumber" %}</dt>
    <dd>{{ member.phonenumber }}</dd>
    {% endif %}

    {% if member.email %}
    <dt>{% trans "Email" %}</dt>
    <dd>{{ member.email }}</dd>
    {% endif %}

    {% endif %}
</dl>

<h2>{% trans "License payments" %}</h2>

<table class="table table-striped member-payments-table">
    <thead>
        <tr>
            <th>{% trans "Year" %}</th>
            <th>{% trans "Amount" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for payment in member.memberpayment_set.all %}
        <tr>
            <td>
                {{ payment.license_year }}
            </td>
            <td>
                {{ payment.amount }} {{ member.club_region.club.currency }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>{% trans "Add license payment" %}</h3>

<form class="form-horizontal" method="post" action="{% url "club-member" member.id %}">{% csrf_token %}
    {% include "bootstrap_form.html" with form=payment_form %}
</form>
{% endblock %}
